<a href="https://colab.research.google.com/github/Wanita-8943/DWDM21/blob/main/All.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import shutil

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv (r'/content/drive/My Drive/All_Film.csv')
df

,Class,Filename,Path_filename,Sex,Floder
0,Y7,V1.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Both
1,Y7,V2.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Both
2,Y7,V3.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Both
3,Y7,V6.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Both
4,Y7,V7.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Both
...,...,...,...,...,...
1836,Y18,S264.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1837,Y18,S268.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1838,Y18,S270.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1839,Y18,S274.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1840,Y18,S276.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both

In [5]:
classes = ['Y7','Y8','Y9','Y10','Y11','Y12','Y13','Y16','Y17','Y18']
len(classes)

10

In [6]:
df.shape

(1841, 5)