<a href="https://colab.research.google.com/github/Wanita-8943/DWDM21/blob/main/Data101(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน textbox จะเป็น ภาษา markdown

ข้อดีหนึ่งของ Python คือมี package สำหรับทำงานต่างๆมากมาย

ซึ่ง pandas เป็น package สำหรับการทำงานกับข้อมูลที่อยู่ในรูปแบบตาราง

โดย pandas จะเรียกตารางนั้นว่า dataframe

In [92]:
import pandas # วิธีเรียกใช้ package คือ import ตามด้วยชื่อ package

In [93]:
import pandas as pd # เหมือนกับข้างบนแต่ว่า ตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd

ไฟล์ .csv (CSV = comma separated values) เป็นไฟล์หลักที่เราจะได้ใช้กันในวิชานี้

In [3]:
data_df = pd.read_csv('data.csv')

In [4]:
data_df

     \tname  age       city
0    0\tTom   27  Khon Kaen
1   1\tPaul   15    Bangkok
2  2\tSarah   49     London

In [5]:
data_df2 = pandas.read_csv('data.csv')
data_df2

     \tname  age       city
0    0\tTom   27  Khon Kaen
1   1\tPaul   15    Bangkok
2  2\tSarah   49     London

# Basic Python
## Variables

ข้อกำหนดในการตั้งชื่อตัวแปร


1.   ชื่อห้ามมีเว้นวรรค
2.   (พยายาม)ใช้ภาษาอังกฤษ
3.   ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive)
4.   ห้ามใช้ตัวเลขเป็นตัวหน้า

In [6]:
variable_a = 12
variable_b = 'abcde'  # ' เรียกว่า quote
variable_c = variable_a

In [7]:
variable_a

12

In [8]:
variable_b

'abcde'

In [9]:
variable_c

12

In [18]:
# ชื่อห้ามมีเว้นวรรค
variable a = 6

SyntaxError: ignored

In [12]:
# (พยายาม)ใช้ภาษาอังกฤษ
# colab ใช้ภาษาไทยเป็นชื่อตัวแปรได้ แต่ไม่ควรใช้
ตัวแปร = 3
ตัวแปร

3

In [14]:
# ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive)
v_a = 1
V_a = 2
print(v_a)
print(V_a)

1
2

In [15]:
# ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive)
v_a = 1
v_a = 2
print(v_a)
print(v_a)

2
2

In [19]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
2 = 1

SyntaxError: ignored

In [21]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
2ab = 1

SyntaxError: ignored

In [22]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
variable1 = 1

In [23]:
print(variable1)

1

In [24]:
variable_a = 12
variable_b = 'abcde'  # ' เรียกว่า quote
variable_c = variable_a
variable_d = -41.2
variable_4 = "KKU" # " เรียกว่า double quote

In [25]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [26]:
variable_a + variable_b

TypeError: ignored

In [27]:
print(variable_b + variable_4)

abcdeKKU

## Casting int() float() str()

In [28]:
print(variable_x)
print(int(variable_x))

-29.200000000000003
-29

In [29]:
V_X = str(variable_x)
print(V_X)

-29.200000000000003

In [89]:
V_X + variable_a #ตัวข้างหน้าเป็น str ไม่สามารถเอาตัวเลขมาต่อได้

TypeError: ignored

In [87]:
variable_a + V_X #ตัวเลขไม่สาารถเอา str มาต่อได้

TypeError: ignored

In [88]:
V_X #พิมพ์ชื่อตัวแปรธรรมดา

'-29.200000000000003'

In [86]:
float(V_X) #เปลี่ยนมาเป็นตัวเลข

-29.200000000000003

## Data Structure
### list()

In [98]:
list_a = [1,2,0.2,'abs'] # [] square brackets
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [99]:
list_a

[1, 2, 0.2, 'abs']

In [100]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [90]:
len(list_b) #len เพื่อดูว่า list มีกี่ตัว

4

In [37]:
list_b[3]

[1, 2, 0.0]

In [38]:
list_b[3][1]

2

string คือ list ของ ตัวหนังสือ

In [39]:
a = 'Stat KKU'

In [40]:
a[4]

' '

### วิธีสร้าง list ว่าง

In [43]:
list_c = list() #แบบที่ 1
list_d = [] #แบบที่ 2

In [44]:
list_c

[]

In [45]:
list_d

[]

เติมค่าลงไปใน list  (.append())

In [46]:
list_d.append('a')

In [47]:
list_d

['a']

In [48]:
list_d.append(56)

In [49]:
list_d

['a', 56]

#### การชี้ค่าใน list (indexing)


1.   ใช้ลำดับในการชี้
2.   ลำดับเริ่มจาก 0
3.   สามารถชี้จากข้างหลังได้โดยใช้ negative index

In [50]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [51]:
list_b[-1]

[1, 2, 0.0]

### list slicing

In [52]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

เราจะตัดlist โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนตัวหลัง]   
ถ้าเป็นสัญลักษณ์คณิตศาสตร์ [ตัวหน้า:ตัวหลัง] -> [ตัวหน้า,ตัวหลัง)

In [53]:
list_ex[1:6]

[2, 3, 5, 6, 8]

In [54]:
list_ex[4:]

[6, 8, -1, 20, 50, 0]

In [55]:
list_ex[:6]

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น:จุดสุดท้าย:step]

In [56]:
list_ex

[1, 2, 3, 5, 6, 8, -1, 20, 50, 0]

In [57]:
list_ex[::2]

[1, 3, 6, -1, 50]

In [58]:
list_ex[::-1]  # การกลับ list

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [59]:
a

'Stat KKU'

In [60]:
a[5:]

'KKU'

In [61]:
a[-3:]

'KKU'

In [62]:
a[5:8]

'KKU'

In [63]:
a[5::]

'KKU'

In [64]:
a[-3::]

'KKU'

In [65]:
a[-3::1]

'KKU'

### list + list

In [66]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [67]:
list_a + list_b

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

format string

```python
f'string{ตัวแปร}' 
```
{} เรียกว่า curly brackets

In [68]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0.2, 'abs']"

## Loop

ทำงานซ้ำๆ หรือ ทำงานคล้ายๆกัน

indent
```python
for ตัวแปรที่จะรับค่าจากลิสต์ in ลิสต์ที่จะนำมาวนลูป:
    do something #in loop
    do another thing #in loop

do other things#out side loop

```

In [69]:
for i in [1,2,3,4,5]:
    print(i+1)

2
3
4
5
6

In [70]:
for x in [1,2,3,4,5]:
    print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [71]:
list5=[1,2,3,4,5]
for x in list5:
    print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [72]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [73]:
for i in range(2,7):
    print(i)

2
3
4
5
6

In [74]:
for i in range(2,7,2):
    print(i)

2
4
6

In [75]:
for i in range(5):
    print('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [76]:
for i in range(5):
    print('hahaha')
    x = i + 3
    print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

### Nested loop

In [77]:
for i in range(3):
    print(f'now i = {i}')
    print('start j loop')
    for j in range(4):
        print(f'i = {i} j = {j} i+j = {i+j}')
    print('end j loop')

now i = 0
start j loop
i = 0 j = 0 i+j = 0
i = 0 j = 1 i+j = 1
i = 0 j = 2 i+j = 2
i = 0 j = 3 i+j = 3
end j loop
now i = 1
start j loop
i = 1 j = 0 i+j = 1
i = 1 j = 1 i+j = 2
i = 1 j = 2 i+j = 3
i = 1 j = 3 i+j = 4
end j loop
now i = 2
start j loop
i = 2 j = 0 i+j = 2
i = 2 j = 1 i+j = 3
i = 2 j = 2 i+j = 4
i = 2 j = 3 i+j = 5
end j loop

## Condition (if statement)

```python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):
    ถ้าเงื่อนไขเป็นจริง ทำงาน 1
    ถ้าเงื่อนไขเป็นจริง ทำงาน 2
```

In [78]:
stringx = 'sadfasdfsadfweirjwersdfspadofgj'

if len(stringx) > 30:
    print(f'{stringx} is longer than 30 characters')

sadfasdfsadfweirjwersdfspadofgj is longer than 30 characters

In [79]:
stringx = 'sadfasdfsadfweirjwersdfspadofgj'

if len(stringx) > 100:
    print(f'{stringx} is longer than 30 characters')

```python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ 1
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ 2
else: #ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
    ทำงานที่ X
```

In [80]:
stringx = 'sadfasdfsadfweirjwersdfspadofgj'

if len(stringx) > 100:
    print(f'{stringx} is longer than 30 characters')
else:
    print(f'{stringx} in {len(stringx)} characters long')

sadfasdfsadfweirjwersdfspadofgj in 31 characters long

```python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ 1
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ 2
elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง:
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ a1
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ a2
elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง:
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ b1
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ b2
else: #ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
    ทำงานที่ X
```

In [81]:
password = '12345'

input_pass = '123sf'
if input_pass == password:
    print('Welcome!')
elif len(input_pass) > len(password):
    print('Too long, try again!')
elif len(input_pass) < len(password):
    print('Too short, try again!')
else:
    print('Wrong password, try again!')

Wrong password, try again!

Quiz 1 หา min

In [102]:
list_ex = [1,5,9,-19,-2,0] #หาค่าน้อยที่สุดใน list_ex โดยไม่ใช้ function min (commit ก่อน 10:30 :Quiz1)

In [103]:
min = 100000000

for i in list_ex:
    if i < min:
        min = i

print(min)

-19

In [107]:
min = 100000000
print(list_ex)
for i in list_ex:
    print(f'now i = {i}, min = {min}')
    print('start condition')
    if i < min:
        print(f'i < min, update min -> {i}')
        min = i
    else:
        print('i >= min, not update')
    print('end condition, go to next i')

print(min)

[1, 5, 9, -19, -2, 0]
now i = 1, min = 100000000
start condition
i < min, update min -> 1
end condition, go to next i
now i = 5, min = 1
start condition
i >= min, not update
end condition, go to next i
now i = 9, min = 1
start condition
i >= min, not update
end condition, go to next i
now i = -19, min = 1
start condition
i < min, update min -> -19
end condition, go to next i
now i = -2, min = -19
start condition
i >= min, not update
end condition, go to next i
now i = 0, min = -19
start condition
i >= min, not update
end condition, go to next i
-19

HW3 ตัดเกรด

In [108]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10] #ตัดเกรด คะแนนใน list score (ใช้ if กับ for)

In [110]:
for i in score:

  if i >= 80:
    print(f'{i} คะแนน = เกรด A')
  elif i >= 75 and i < 80:
    print(f'{i} คะแนน = เกรด B+')
  elif i >= 70 and i < 75:
    print(f'{i} คะแนน = เกรด B')
  elif i >= 65 and i < 70:
    print(f'{i} คะแนน = เกรด C+')
  elif i >= 60 and i < 65:
    print(f'{i} คะแนน = เกรด C')
  elif i >= 55 and i < 60:
    print(f'{i} คะแนน = เกรด D+')
  elif i >= 50 and i < 55:
    print(f'{i} คะแนน = เกรด D')
  else:
    print(f'{i} คะแนน = เกรด F')

49 คะแนน = เกรด F
65 คะแนน = เกรด C+
70 คะแนน = เกรด B
95 คะแนน = เกรด A
82 คะแนน = เกรด A
55 คะแนน = เกรด D+
89 คะแนน = เกรด A
20 คะแนน = เกรด F
77 คะแนน = เกรด B+
77 คะแนน = เกรด B+
81 คะแนน = เกรด A
59 คะแนน = เกรด D+
10 คะแนน = เกรด F

## Function