<a href="https://colab.research.google.com/github/Wanita-8943/DWDM21/blob/main/MiniExam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### ข้อสอบ

จาก data ```flights.csv``` และ ```airports.csv``` ใน https://drive.google.com/drive/folders/1EFo1_uQgWkRiXjezL0T4YwteYrsqU5MV?usp=sharing
0. หารัฐที่มีจำนวนเครื่องบินขาเข้ามากที่สุดและน้อยที่สุด
1. หารัฐที่มีจำนวนเครื่องบินขาออกมากที่สุดและน้อยที่สุด
2. วาด Histogram แสดงจำนวนเครื่องบินขาออกของแต่ละวันในสัปดาห์
3. สายการบินไหนมีเที่ยวบินมากที่สุดและน้อยที่สุด
4. สายการบินอะไรมีความล่าช้ามากที่สุดและน้อยที่สุด
5. วันธรรมดาหรือวันเสาร์-อาทิตย์ มีเครื่องบินขาเข้ามากกว่ากัน (จันทร์=1 , อังคาร=2,...)
ให้นักศึกษาทำข้อสอบ 2 ข้อจากที่แสดงข้างบนโดยกรอกรหัสนักศึกษาลงใน function ```gen_exams()``` แล้ว run เพื่อให้ได้ข้อสอบที่นักศึกษาต้องทำ 2 ข้อ (ข้อละ 3 คะแนน)
และให้นักศึกษาคิดโจทย์เองอีก 1 ข้อ (4 คะแนน)

In [1]:
import pandas as pd

In [3]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
import os

In [7]:
flights = pd.read_csv('/content/drive/MyDrive/DWDM2021_DATA/Mini Exam/flights.csv')
flights

         วันในเดือน  วันในสัปดาห์  ... ความล่าช้าขาออก  ความล่าช้าขาเข้า
0                19             5  ...              -3                 1
1                19             5  ...               0                -8
2                19             5  ...              -4               -15
3                19             5  ...              28                24
4                19             5  ...              -6               -11
...             ...           ...  ...             ...               ...
2702213          19             6  ...               1                -3
2702214          19             6  ...              -2                -3
2702215          19             6  ...              18                 9
2702216          19             6  ...              10                 7
2702217          19             6  ...               0               -13

[2702218 rows x 7 columns]

In [8]:
airports = pd.read_csv('/content/drive/MyDrive/DWDM2021_DATA/Mini Exam/airports.csv')
airports

     รหัสสนามบิน         เมือง รัฐ                          ชื่อสนามบิน
0          10165   Adak Island  AK                                 Adak
1          10299     Anchorage  AK  Ted Stevens Anchorage International
2          10304         Aniak  AK                        Aniak Airport
3          10754        Barrow  AK      Wiley Post/Will Rogers Memorial
4          10551        Bethel  AK                       Bethel Airport
..           ...           ...  ..                                  ...
360        11233      Cheyenne  WY  Cheyenne Regional/Jerry Olson Field
361        11097          Cody  WY                 Yellowstone Regional
362        11865      Gillette  WY             Gillette Campbell County
363        12441       Jackson  WY                         Jackson Hole
364        14543  Rock Springs  WY       Rock Springs Sweetwater County

[365 rows x 4 columns]

In [9]:
def gen_exams(ID):
    import math
    a = int(ID[-1])%6
    b = int(ID[-1])%3
    print(f'รหัสนักศึกษา {ID} ทำข้อ {a} และ {b if a != b else 5-b}')

ตัวอย่างการ run

In [11]:
gen_exams('623020536-5')

รหัสนักศึกษา 623020536-5 ทำข้อ 5 และ 2

In [26]:
merged_table = flights.merge(airports,how='left',left_on='รหัสสนามบินต้นทาง',right_on='รหัสสนามบิน')

In [27]:
merged_table

         วันในเดือน  ...                                 ชื่อสนามบิน
0                19  ...                  Detroit Metro Wayne County
1                19  ...                Salt Lake City International
2                19  ...                      Portland International
3                19  ...             Lambert-St. Louis International
4                19  ...  Cincinnati/Northern Kentucky International
...             ...  ...                                         ...
2702213          19  ...                       Orlando International
2702214          19  ...    Hartsfield-Jackson Atlanta International
2702215          19  ...           Albuquerque International Sunport
2702216          19  ...    Hartsfield-Jackson Atlanta International
2702217          19  ...    Hartsfield-Jackson Atlanta International

[2702218 rows x 11 columns]

##2. วาด Histogram แสดงจำนวนเครื่องบินขาออกของแต่ละวันในสัปดาห์

In [28]:
merged_table[['วันในสัปดาห์','สายการบิน','รหัสสนามบินต้นทาง','ความล่าช้าขาออก']]

         วันในสัปดาห์ สายการบิน  รหัสสนามบินต้นทาง  ความล่าช้าขาออก
0                   5        DL              11433               -3
1                   5        DL              14869                0
2                   5        DL              14057               -4
3                   5        DL              15016               28
4                   5        DL              11193               -6
...               ...       ...                ...              ...
2702213             6        DL              13204                1
2702214             6        DL              10397               -2
2702215             6        DL              10140               18
2702216             6        DL              10397               10
2702217             6        DL              10397                0

[2702218 rows x 4 columns]

In [29]:
all_cities = set(merged_table['สายการบิน'])
all_cities

{'9E',
 'AA',
 'AS',
 'B6',
 'DL',
 'EV',
 'F9',
 'FL',
 'HA',
 'MQ',
 'OO',
 'UA',
 'US',
 'VX',
 'WN',
 'YV'}

##5.วันธรรมดาหรือวันเสาร์-อาทิตย์ มีเครื่องบินขาเข้ามากกว่ากัน (จันทร์=1 , อังคาร=2,...)

In [31]:
all_cities = set(merged_table['วันในสัปดาห์'])
all_cities

{1, 2, 3, 4, 5, 6, 7}

In [47]:
day = merged_table.sort_values(by=['วันในสัปดาห์'])  
day

         วันในเดือน  วันในสัปดาห์  ... รัฐ                               ชื่อสนามบิน
846956            3             1  ...  IL              Chicago O'Hare International
797331           17             1  ...  NV                  Reno/Tahoe International
2484360          21             1  ...  CO                      Denver International
2484359          21             1  ...  CO                      Denver International
2484358          21             1  ...  CO                      Denver International
...             ...           ...  ...  ..                                       ...
2338011          27             7  ...  GA  Hartsfield-Jackson Atlanta International
2338005          20             7  ...  GA  Hartsfield-Jackson Atlanta International
1222195           7             7  ...  DC         Ronald Reagan Washington National
2338176          27             7  ...  TX                 San Antonio International
1351108          14             7  ...  NC           Charlotte Douglas International

[2702218 rows x 11 columns]

In [63]:
day[['รหัสสนามบินปลายทาง','วันในสัปดาห์']]

         รหัสสนามบินปลายทาง  วันในสัปดาห์
846956                11618             1
797331                12892             1
2484360               14107             1
2484359               14107             1
2484358               14107             1
...                     ...           ...
2338011               11292             7
2338005               11292             7
1222195               13342             7
2338176               14869             7
1351108               10792             7

[2702218 rows x 2 columns]

In [64]:
week = day.groupby('วันในสัปดาห์').count().sort_values(by=['รหัสสนามบินปลายทาง'],ascending=False) 
week.iloc[:,3:4]

              รหัสสนามบินปลายทาง
วันในสัปดาห์
1                         407837
4                         406563
3                         403072
2                         397594
5                         396387
7                         372228
6                         318537

In [61]:
Weekday = week.iloc[:5,3:4].sum() 
Weekday

รหัสสนามบินปลายทาง    2011453
dtype: int64

In [62]:
Weekend = week.iloc[5:7,3:4].sum() 
Weekend

รหัสสนามบินปลายทาง    690765
dtype: int64

##*ดังนั้นจะเห็นได้ว่าวันธรรมมดาจะมีเครื่องบินขาเข้ามากกว่าวันเสาร์อาทิตย์